{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static 'bootstrap/docs/assets/ico/favicon.png' %}">

    <title> PIC </title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'bootstrap/docs/examples/carousel/carousel.css' %}" rel="stylesheet">
  </head>

<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper">
      <div class="container">
        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button> 
              <a class="navbar-brand" href="/home">Proto INSA Club</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="/actualites" > Actualites </a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Informations <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="/presentation"> Presentation </a></li>
                    <li><a href="/shell"> Shell Eco-marathon </a></li>
                  </ul>
                </li>
                {% if user.is_authenticated %}
                    <li><a href="/projects"> Projets</a></li>
                    <li><a href="/events"> Evenements </a></li>
                    <li><a href="/admin"> Administrateur </a></li>
                    <li><a href="/members/logout"> Sign out </a></li>  
                    <li><p class="navbar-text"> Signed in as {{ user.username }} </p>             
                {% else %}
                    <li><a href="/members"> Espace Membre</a></li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>


<div class="container">
	<ul>

  {% if user.is_authenticated %}
    <h2>{{project.title}}</h2>
    <p><hr> </p>
    <b><u>Description:</u></b>
    <li> {{project.description}} </li>
  
    <u><b>Deadline:</u></b>
    <li> {{project.deadline}} </li>
  
    <b><u>Team:</u> (for now, one team per project)</b>
    <li> {{project.team}} </li>
  
    <u><b>Members:</u></b>
    {% for members in project.members.all %}
      <li>{{members.user.username}}</li>
    {% endfor %}

    <p><br></p>
    <form action="/projects/{{project.id}}/" method="post">
      {% csrf_token %}
      <input type="hidden" name="user" value="{{user.id}}">
      <input type="submit" name="participate" value="I want in!" />
    </form>
    <form action="/projects/{{project.id}}/" method="post">
      {% csrf_token %}
      <input type="hidden" name="a_user" value="{{user.id}}">
      <input type="submit" name="abandon" value="Abandon Ship!" />
    </form>
    <h3>Comments</h3>
    {% for comments in comments_list %}
      {% if comments.project_commenting_on.id = project.id %}
      <li>{{comments.core_of_comment}} ||by: {{comments.member_commenting.user.username}}</li>
      {{comments.posting_date}}
      
      {% if comments.member_commenting.user.id == user.id %}
        <form action="/projects/{{project.id}}/" method="post">
          {% csrf_token %}
          <input type="hidden" name="c_id" value={{comments.id}}>
          <input type="submit" name="delete" value="delete"/>
        </form>
      {% endif %}
      {% endif %}
    {% endfor %}  
    <p><br></p>
    {% if user.member in project.members.all%}
    <form action="/projects/{{project.id}}/" method="post">
      {% csrf_token %}
      <input type="hidden" name="c_user" value="{{user.id}}">
      <input type="text" name="comment">
      <input type="submit" name="submit" value="comment"/>
    </form>
    {% endif %}
  {% else %}
    <br><br><br><br><br>
    <h1> Please sign in!</h1>
  {% endif %}
  </ul>
</div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bootstrap/docs/assets/js/docs.min.js' %}"></script>              
    <script src="{% static 'bootstrap/docs/assets/js/vendor/holder.js' %}"></script>
</body>
</html>